@use "../helpers" as *;

.about {
  &-container {
    @include container;
    padding-block: rem(96);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);
    position: relative;
    flex-wrap: wrap;

    @include tablet {
      grid-template-columns: 1fr;
      padding-block: rem(32);
    }

    .about-top-block {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: center;
    }
    .about-subtitle {
      font-family: var(--font-family-accent);
      font-weight: 400;
      font-size: 2rem;
      line-height: 110%;
      letter-spacing: -0.03em;
      text-align: center;
    }

    .about-image {
      border-radius: rem(40);
      object-fit: calc(50%);
      @include mobile {
        height: auto;
      }
    }

    .about-description {
      display: flex;
      flex-direction: column;

      color: var(--color-black-100);

      .about-intro {
        color: var(--color-black-100);

        display: inline-block;
        align-self: center;
        position: relative;
        margin-top: rem(20);

        font-family: var(--font-family-accent);
        font-weight: 400;
        font-size: 2rem;
        line-height: 110%;
        letter-spacing: -0.03em;
        text-align: center;

        > svg {
          color: var(--color-primary-primary);
          rotate: 355deg;
        }

        &-text {
          position: absolute;
          top: 15%;
          left: 50%;
          translate: -50% -67%;
        }

        &-info {
          font-family: var(--font-family-base);
          @include font-body;
          text-align: left;
          letter-spacing: normal;

          margin-bottom: rem(12);
        }
      }

      .about-story {
        @include font-body-title;
        text-align: center;
      }

      .about-specialization {
        &-list {
          margin-top: rem(12);

          > li {
            padding-left: rem(8);

            &:not(:last-child) {
              margin-bottom: rem(8);
            }

            &::before {
              content: "⚡️";
              padding-right: rem(5);
            }
          }
        }
      }

      .about-sign {
        @include font-sign;
        padding-top: rem(68);
        rotate: -3deg;
        text-align: end;

        @include tablet {
          padding-top: rem(49);
        }
      }
    }

    .about-story {
      @include font-body;
    }

    .about-education {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      row-gap: rem(12);

      &-info {
        // height: rem(117);

        @include tablet {
          height: fit-content;
          margin-top: 0;
        }
      }
      .education-img {
        object-fit: contain;
      }
    }

    .about-transformation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      row-gap: rem(12);
    }
  }
}
