@use "helpers" as *;

body {
  @include fluid-text(14, 14);

  display: flex;
  flex-direction: column;

  font-family: var(--font-family-base);
  color: var(--color-black-100);
  background-color: var(--color-white-100);

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

main {
  // чтобы растягивался по высоте на доступный ему максимум
  // чтобы футер был всегда прижат к низу страницы
  flex-grow: 1;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a:hover,
a:active,
li:has(> a):hover,
li:has(> a):active {
  scale: 1.05;
  transition-duration: var(--transition-duration);
}
